<style>
  .text-white * {
    color: #FFF;
  }
</style>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading text-white">
            <h4>All Active Challenges</h4>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th style="width: 30%">Map</th>
                    <th>Features</th>
                    <th>Timer</th>
                    <th>League</th>
                    <th>Leader</th>
                    {% if player %}<th>Your Position</th>{% endif %}
                    <th>Ends at</th>
                </tr>
                </thead>
                <tbody>
                {% for challenge in challenges %}
                    <tr>
                        <td>{{ challenge.id }}</td>
                        <td><a href="{{ challenge.url }}" target="_blank">{{ challenge.mapName }}</a></td>
                        <td>{% if challenge.noMove %}No Move {% endif %}{% if challenge.noZoom %}No Zoom {% endif %}{% if challenge.noRotate %}No Rotate{% endif %}
                        <td>{{ challenge.getTime }}</td>
                        <td>{% if challenge.league %}<a href="{{ challenge.league.url }}" target="_blank">{{ challenge.league.name }}</a>{% endif %}</td>
                        <td>{{ challenge.getLeader.getNick }}</td>
                        {% if player %}<td>{{ challenge.getPositionOf(player.id) }}</td>{% endif %}
                        <td>{{ challenge.getTimeToEnd() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
