{% if player %}

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello, {{ player.getNick() }} <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a data-request="onLogoutPlayer" href="#">Log out</a></li>
        </ul>
    </li>
{% else %}
    <form class="navbar-form navbar-left" data-request="onValidateToken">
        <div class="form-group">
            <input type="text" class="form-control" name="token" placeholder="Got a token?">
        </div>
        <button class="btn btn-default" type="submit"><i class="fa fa-check-circle"></i></button>
    </form>
{% endif %}

