<style>
    .text-white * {
        color: #FFF;
    }
</style>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading text-white">
            <h4>Geoguessr Leagues</h4>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th style="width: 30%">League</th>
                    <th>Timer</th>
                    <th>Rounds Left</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for league in leagues %}
                    <tr>
                        <td><a href="#" id="toggle-{{ league.id }}"><i id="toggle-icon-{{ league.id }}"
                                                                       class="fa fa-chevron-up"></i></a></td>
                        <td><a href="{{ league.url }}" target="_blank">{{ league.name }}</a></td>
                        <td><span id="timer-{{ league.id }}"></span></td>
                        <td>{{ league.rounds_left }}</td>
                        <td>{% if league.is_enabled %}Active{% else %}Not Active{% endif %}
                    </tr>

                    <tr id="list-{{ league.id }}" style="display: none;">
                        <td colspan="5">
                            <table class="table" style="font-size: 12px;">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Position</th>
                                    <th colspan="2">Name</th>
                                    <th>Points</th>
                                    <th>Score</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for player in league.players.sortBy('pivot.position').sortByDesc('pivot.points')%}
                                    <tr>

                                        <td></td>
                                        <td style="width: 30px;">{{ player.pivot.position }}</td>

                                        <td colspan="1">
                                            {% if player.avatar %}
                                                <img src="{{ player.avatar }}" style="width: 24px;"/>
                                            {% else %}
                                                <img src="https://uploads.keios.eu/gg.png" style="width: 24px;"/>
                                            {% endif %}
                                            <span>{% if player.mm_nick %}{{ player.mm_nick }}{% else %}{{ player.gg_nick|slice(0,5) }}...{% endif %}</span>
                                        <td>

                                        <td>
                                            {{ player.pivot.points}}
                                        </td>
                                        <td>
                                            {{ player.pivot.score }}
                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>


                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% for league in leagues %}
    <script>
      document.getElementById('toggle-{{ league.id }}').addEventListener('click', function() {
        let icon = document.getElementById('toggle-icon-{{ league.id }}')
        let list = document.getElementById('list-{{ league.id }}')
        console.log(window.getComputedStyle(list).visibility);
        if(window.getComputedStyle(list).display === 'none') {
          list.style.display = 'table-row';
          icon.classList.remove('fa-chevron-up')
          icon.classList.add('fa-chevron-down')
        } else {
          list.style.display = 'none';
          icon.classList.add('fa-chevron-up')
          icon.classList.remove('fa-chevron-down')
        }
      })

      setInterval(function() {
        let endTime = "{{ league.getChallengeEndTime() }}"
        let countDownDate = new Date(endTime).getTime();
        let now = new Date().getTime();
        let distance = countDownDate - now;
        let days = Math.floor(distance / (1000 * 60 * 60 * 24));
        let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        let seconds = Math.floor((distance % (1000 * 60)) / 1000);

        document.getElementById("timer-{{ league.id }}").innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";

        if(distance < 0) {
          clearInterval(x);
          document.getElementById("timer-{{ league.id }}").innerHTML = "EXPIRED";
        }
      }, 1000);

    </script>
{% endfor %}
