
---
#### :crossed_swords: Challenger appears!
:earth_americas: Challenge "{{ map.name }}" has been created by {{ map.player }}!

:timer_clock: {{ map.rounds}} rounds, timer {{ map.timeLimit}} {{ map.params }} - [Click here to play!]({{ map.url}})

---

