---
#### Active GeoGuessr Challenges

*Current status for {{ player }} - see your list with `/gg challenges`*

| ID | Challenge                 | League | Ends In | Info                     | Players | Leader ||
|:----|:--------------------|:---------------------------------|:-------------|:--------|:-------|:----|
{% for challenge in challenges %}
| {{ challenge.id }} | {% if challenge.played(player) %}:white_check_mark:{% elseif challenge.notSynced(player) %}:question:{% else %}:crossed_swords:{% endif%} [{{ challenge.mapName }}]({{ challenge.url }}) | [{{ challenge.league.name }}]({{ challenge.league.url }}) | {{ challenge.getTimeToEnd() }} | {{ challenge.getTime|slice(3,6) }} {{ challenge.getFeaturesString }} | {{ challenge.players.count }} | {% if challenge.getLeader %}**{{ challenge.getLeader.gg_nick }}** | *{{ challenge.getLeader.pivot.points }}p*{% else %}|{% endif%} |
{% endfor %}

Check `/gg help` and [website](https://api.jakubzych.com/gg)

---
