
---
{% if league %}#### Current leg positions in {{ league.getLinkMarkdown() }}{% else %}#### Challenge positions for [{{ challenge.mapName }}]({{ challenge.url }}){% endif %}


| Pos | Name                 | Points                      |
|:----|:--------------------|:----------------------------|
{% for pos,details in challenge.positions %}
| {{ pos +1 }} | {% if pos +1 == 1 %}:1st_place_medal:{% elseif pos +1 == 2 %}:2nd_place_medal:{% elseif pos+1 == 3%}:3rd_place_medal:{% endif %}{{ details.player }} | {{ details.score }} |
{% endfor %}

{% if league %}**Current leg ends in {{ league.getHoursRemaining }} hours**.{% endif %}

Check `/gg help` and [website](https://api.jakubzych.com/gg)

---
