---
#### MM Cup 2021

| Pos | Nick | Score | Played | Medals |
|:---------|:-----|:------|:-------|:-------|
{% for nick,scores in cup_list %}
| {{ loop.index }} | {{ nick }} | {{ scores.total }} | {{ scores.player.challenges.count }}| :1st_place_medal: {{ scores.gold }} :2nd_place_medal: {{ scores.silver }} :3rd_place_medal: {{  scores.bronze }}|
{% endfor %}

---
