
---
#### Help

Usage: **/gg <command> <param> [yell]**

*Appending 'yell' as third parameter will make geobot post public*

| Command | Description |
|---------|-------------|
|**/gg** | Active Leagues List |
{% for config in commands %}{% if config.class.getHelp %}|**/gg {{ config.trigger }}** {{ config.param }}|{{ config.class.getHelp }}|
{% endif %}{% endfor %}

*GeoBot 1.0.4 by [118](https://jakubzych.com)*

---
