
#### {{ league.getLinkMarkdown }} Table

| Pos | Name                 | Points                      | Score |
|:----|:--------------------|:---------------------------------|---------|
{% for player in league.players.sortBy('pivot.position').sortByDesc('pivot.points')%}
| {{ player.pivot.position }} | {% if player.pivot.position == 1 %}:1st_place_medal:{% elseif player.pivot.position == 2 %}:2nd_place_medal:{% elseif player.pivot.position == 3 %}:3rd_place_medal:{% endif %} {{ player.gg_nick }} | {{player.pivot.points}} | {{ player.pivot.score }} |
{% endfor %}

**Current leg ends in {{ league.getTimeRemaining }}**.

---
