---
{% set goldMedals = player.getGoldMedals %}
{% set silverMedals = player.getSilverMedals %}
{% set bronzeMedals = player.getBronzeMedals %}
#### Summary for {{ player.mm_nick }} ({{ player.gg_nick }})

##### Leagues:
| League | Position |
|:---|:---|
{% for league in player.leagues %}
| {{ league.getLinkMarkdown }} | {% if league.pivot.position == 1 %}:1st_place_medal:{% endif %}{% if league.pivot.position == 2 %}:2nd_place_medal:{% endif %}{% if league.pivot.position == 3 %}:3rd_place_medal:{% endif %}{% if league.pivot.position == 4 %}:medal_military:{% endif %} {{ league.pivot.position }} |
{% endfor %}

##### Challenges:

{% for gold in goldMedals %}:1st_place_medal: {% endfor %}{% for gold in silverMedals %}:2nd_place_medal: {% endfor %}{% for gold in bronzeMedals %}:3rd_place_medal: {% endfor %}

Details:

|   |
|:----|:------|
| **Total Challenges Played** | {{ player.challenges.count() }} |
| **Total Gold Medals** | {{ goldMedals.count() }} |
| **Total Silver Medals** | {{ silverMedals.count() }} |
| **Total Bronze Medals** | {{ bronzeMedals.count() }} |

Gold in:

{% for gold in goldMedals %}
- [{{ gold.mapName }}]({{ gold.url }}) - {{ gold.ends_at }}
{% endfor %}

Check `/gg help` and [website](https://api.jakubzych.com/gg)

---
