---
#### Welcome to GeoBot

##### Active GeoGuessr Leagues

| ID | League                 | Time Remaining                      | Rounds Left | Is muted |
|:----|:--------------------|:---------------------------------|-------------|---------|
{% for league in leagues %}
| {{ league.id }} | {{ league.getLinkMarkdown }} | {{ league.getHoursRemaining() }} hours | {{ league.rounds_left }} | {% if league.isBlacklisted(user) %}Yes{% else %}No{% endif %} |
{% endfor %}

Check `/gg help` and [website](https://api.jakubzych.com/gg). See `/gg challenges` for unplayed challenges.

*GeoBot 1.0.4 by [118](https://jakubzych.com)*

---
